{% load static %}

<nav id="navigation">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="categories_menu">
                    <div class="categories_title">
                        <h2 class="categori_toggle"> Каталог</h2>
                    </div>
                    <div class="categories_menu_inner">
                        <ul>
                            {% for category in categories %}
                                <li class="categorie_list"><a href="{% url 'catalog:index' category.slug %}">{{ category.name }}<i class="fa fa-angle-right"></i></a>
                                    {% if category.children.all %}
                                        <ul class="categories_mega_menu">
                                            {% for subcategory in category.children.all %}
                                                <li><a href="{% url 'catalog:index' subcategory.slug %}">{{ subcategory.name }}</a>
                                                    {% if subcategory.children.all %}
                                                        <div class="categorie_sub_menu">
                                                            <ul>
                                                                {% for subcategory in category.children.all %}
                                                                    <li><a href="{% url 'catalog:index' subcategory.slug %}">>{{ subsubcategory.name }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 position-relative">
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li><a href="#"><i class="fa fa-percent"></i>  Акции</a></li>
                        <li><a href="#">Новинки</a></li>
                        <li><a href="#">Бренды</a></li>
                        <li><a href="#">Смартфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                        <li><a href="#">Аксесуары</a></li>
                        <li><a href="#">Аудиотехника</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</nav>